//fonts
@font-face {
  font-family: "Satisfy";
  src: url("../../static/fonts/satisfy/Satisfy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jost";
  src: url("../../static/fonts/jost/Jost-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("../../static/fonts/lora/Lora-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Fjalla One";
  src: url("../../static/fonts/fjalla_one/FjallaOne-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Pathway Gothic One";
  src: url("../../static/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf")
    format("truetype");
}

//page basics

//variables
$font-stack: Helvetica, sans-serif;
$primary-color: #a9b3cc;
$secondary-color: #567b96;
$blue-font: #638dab;
$dark-blue: #1e2a4b;
$light-font: #d0e4f2;
$light-font-hover-tablet: #7aaacc;
$navy-blue: #151e36;
$orange-button: #de6a4e;
$orange-shadow: #b3543d;
$blue-button: #2f59b7;
$blue-shadow: #21479c;
$logo-font: "Satisfy";
$sanserif: "Jost";
$sanserif2: "Pathway Gothic One";
$serif: "Lora";
$hero-font: "Fjalla One";

$bp-phone: 640px;
$bp-small-screen: 684px;
$bp-tablet: 768px;
$bp-tablet-ls: 1024px;
$bp-desktop: 1280px;
$bp-container: 1600px;

* {
  box-sizing: border-box;
}

html {
  background-color: $light-font-hover-tablet;

  h1 {
    font-size: 2em;
    font-family: $sanserif;
    color: $primary-color;
  }

  h2 {
    font-size: 1.5em;
    font-family: $sanserif;
    color: $primary-color;
  }

  h3 {
    font-size: 1.17em;
    font-family: $sanserif;
    color: $primary-color;
  }

  h4 {
    font-size: 1em;
    font-family: $sanserif;
    color: $primary-color;
  }

  p {
    font-family: $sanserif;
    color: $light-font;
  }
}

.container {
  position: absolute;
  width: 100%;

  box-sizing: border-box;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
}

//header
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $navy-blue;
  box-shadow: 0 0 18px $navy-blue;
  padding-bottom: 10px;
  border-bottom: 4px solid $secondary-color;

  @media (min-width: $bp-tablet) {
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: auto;
  }

  .header-title {
    text-align: center;

    @media (min-width: $bp-tablet) {
      padding: 0 2em;
      text-align: left;
    }

    .title {
      font-family: $logo-font;
      color: $secondary-color;
      font-weight: normal;
      font-size: 3em;
      margin-bottom: 0;

      @media (min-width: $bp-tablet) {
        margin-bottom: 0.25em;
        margin-left: 0.25em;
      }
    }
  }

  /* Button styling */
  .menu-toggle {
    padding: 0.5em 0.25em;
    line-height: 1em;
    font-size: 1em;
    color: $secondary-color;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75em;
    font-size: 1.5em;
    visibility: visible;

    &:hover,
    &:focus {
      color: $primary-color;
    }
    @media (min-width: $bp-tablet) {
      display: none;
      href: "";
    }
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    color: $primary-color;
  }

  /*
 Default styles + Mobile first
 Offscreen menu style
*/
  .main-menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    margin-top: 3em;
    margin-bottom: 1em;
    overflow-y: visible;
    overflow-x: hidden;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;

    @media (min-width: $bp-tablet) {
      display: flex;
      overflow-y: hidden;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 15vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      //border: 2px solid green;

      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      width: 70%;
      height: 80%;
      background: $navy-blue;
      font-family: jost;
      border-radius: 7px;
      min-height: 250px;
      max-height: 350px;

      @media (min-width: $bp-tablet) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;

        background: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-top: 18px;
        margin-right: 0.25em;
        padding: 0;
        width: 100%;
        height: 20%;
        overflow: hidden;
        overflow-y: hidden;
        scroll: no;
        //border: green solid 2px;
      }

      @media (min-width: $bp-tablet-ls) {
        margin-top: 12px;
        margin-right: 1em;
        font-size: 1.2em;
      }
    }

    .donate-link {
      @media (min-width: $bp-tablet) {
        box-shadow: 0 0 40px 40px $orange-button inset;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        box-sizing: border-box;
        align-items: center;
        vertical-align: middle;
        background: $orange-button;
        color: #fff;
        border-radius: 7px;
        padding: 10px 35px;

        margin-top: 3px;
        margin-left: 1em;
        margin-right: 1em;

        text-transform: uppercase;

        @media (min-width: $bp-tablet-ls) {
          margin-top: 4px;
          margin-left: 2em;
        }

        &:hover,
        &:focus {
          background: $orange-shadow;
          color: $primary-color;

          box-shadow: 0 0 10px 0 $orange-button inset,
            0 0 7px 2px $orange-shadow;
          border: 1px solid $primary-color;
        }
      }
    }

    .donate-link-active {
      display: none;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.1em 15px;
      line-height: 1em;
      font-size: 1em;
      color: $light-font;
      text-decoration: none;
      //border: 2px solid blue;

      @media (min-width: $bp-tablet) and (max-width: $bp-tablet-ls) {
        padding: 1.1em 10px;
      }
    }

    a:hover,
    a:focus {
      background: $secondary-color;
      text-decoration: none;

      @media (min-width: $bp-tablet) {
        background: none;
        color: $light-font-hover-tablet;
      }
    }

    .menu-close {
      position: absolute;
      top: 15vh;
      right: 15vw;
      color: $primary-color;
      margin-bottom: 1em;
      z-index: 1999;

      @media (min-width: $bp-tablet) {
        display: none;
        href: "";
      }

      .menu-x {
        z-index: 2000;
        font-size: 1.5em;
        color: $primary-color;

        @media (min-width: $bp-tablet) {
          display: none;
          href: "";
        }

        &:hover {
          color: $secondary-color;
        }
      }
      &:hover {
        background: $navy-blue;
      }
    }
  }
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: flex;
  justify-content: center;
  text-align: center;
  left: 0;
  outline: none;

  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);

  @media (min-width: $bp-tablet) {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    justify-content: flex-end;
  }
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/

.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
  height: 100%;
}

// BUTTONS //
@mixin hero-button {
  line-height: 1.15;
  max-width: 300px;
  z-index: 1500;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "jost";
  padding: 1em 10vw;
  border-radius: 7px;
  color: #fff;
  font-size: 1.2em;
  box-shadow: 0 0 5px $navy-blue;
  margin: auto;
  padding: 1em 3em;
}
.cta-button-blue {
  @include hero-button;
  background: $blue-button;

  &:hover,
  &:focus {
    background: $blue-shadow;
  }
}

.cta-button-orange {
  @include hero-button;
  background: $orange-button;

  &:hover,
  &:focus {
    background: $orange-shadow;
  }
}

/* PAGE CONTENT */
.content-container {
  box-sizing: border-box;
  box-shadow: 0 0 18px $navy-blue;
  position: relative;
  width: 100%;
  background: $dark-blue;
  z-index: 0;
  max-width: 1600px;

  @mixin landing-page-text {
    font-family: jost;
    p {
      font-size: 1.2em;
    }

    @media (min-width: $bp-small-screen) {
      padding-top: 30vh;
      h2 {
        font-size: 2em;
      }
      p {
        font-size: 1.4em;
      }
    }

    @media (min-width: $bp-small-screen) {
      padding-top: 25vh;
      h2 {
        font-size: 3em;
      }
      p {
        font-size: 1.8em;
      }
    }
  }
  .panels {
    position: relative;
    max-height: 100%;
    width: 100%;
    z-index: 1000;
    padding-bottom: 0;
    margin-bottom: 0;

    &:first-of-type {
      position: sticky;
      top: 0;
      max-height: 100%;
      overflow-y: hidden;
      background-color: $dark-blue;
    }

    .down {
      color: $primary-color;
      font-size: 3em;
      text-align: center;
      bottom: 5%;
      margin: 0 auto;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  // Home Page Content
  #hero-container {
    .hero-image {
      min-height: 90vh;

      @media (orientation: landscape) {
        min-height: 90vh;
      }
    }

    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 10%;
      padding-top: 55vh;
      height: 90vh;

      @media (orientation: landscape) {
        left: 60%;
        top: auto;
        bottom: 35%;
        align-self: center;
        padding-bottom: 0;
      }
      .hero-info {
        display: flex;
        max-height: 20vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 500;
        padding: 0 1.8em;
        height: 100%;

        @media (orientation: landscape) {
          align-content: center;
        }

        .hero-text {
          font-size: calc(20px + 1.8vh);
          font-family: $hero-font;
          padding: 0;
          color: #fff;
          text-shadow: 0 0 5px $navy-blue;
          margin-bottom: 1em;
          max-width: 500px;

          @media (orientation: landscape) {
            font-size: calc(20px + 2vh);
          }
        }

        .hero-cta {
          margin: 0;
        }
      }
    }
  }

  #content-block {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $dark-blue;
    background: $dark-blue;
    width: 100%;
    height: 104vh;
    margin-top: 40%;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: $dark-blue;
      z-index: 1600;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .block-text {
      @include landing-page-text;

      color: $primary-color;
      flex-grow: 1;
      padding: 3em;
    }
  }

  #content-video {
    background: $dark-blue;
  }
  .video-player {
    width: 100vw;
    height: 105vh;
    background-color: white;
    object-fit: cover;
    margin-right: 50%;

    .isu-video {
      min-height: 100vh;
    }
  }

  .video-info {
    position: absolute;
    margin: auto 1em;
    padding: 0;
    bottom: 20vh;
    text-shadow: 0 0 5px $navy-blue;
    text-align: center;

    @media (min-width: $bp-small-screen) {
      text-align: left;
      max-width: 500px;
      margin-left: 3em;
      bottom: 20vh;
    }

    @media (min-width: $bp-tablet-ls) {
      max-width: 600px;
      bottom: 20vh;
    }

    @media (min-width: $bp-tablet-ls) {
      max-width: 600px;
    }

    .video-text {
      @include landing-page-text();
      color: #fff;
      font-family: "Fjalla One";
      font-size: 1.6em;
      background: inherit;

      @media (min-width: $bp-small-screen) {
        font-size: 1.2em;
        text-align: left;

        margin: auto 3em;
      }

      @media (min-width: $bp-tablet) {
        font-size: 1.2em;
      }

      @media (min-width: $bp-tablet-ls) {
        font-size: 1.4em;
      }

      p {
        margin-bottom: 1.5em;
      }
    }

    .video-cta {
      position: absolute;
    }
  }
}

#about-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid $dark-blue;
  background: $dark-blue;
  width: 100%;
  height: 100%;
  border: 2px solid yellow;

  .about-title {
    margin: 3em;
    border: 2px solid red;
  }

  .about-content {
    padding: 0 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (min-width: $bp-tablet) {
      flex-direction: row;
    }

    .about-column {
      max-width: 100%;
      padding: 0 2em;

      @media (min-width: $bp-tablet) {
        flex-direction: row;
        max-width: 50%;
      }
    }

    .about-image {
      max-width: 100%;
      flex-grow: 1;
    }
  }
}

#services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: $navy-blue;
  color: $primary-color;
}

.footer {
  text-align: center;
  color: $blue-font;
  position: relative;
  background: $navy-blue;

  padding-top: 3em;
  padding-bottom: 1em;
  z-index: 2000;

  a {
    color: $blue-font;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  .social-icon {
    margin: auto 0.5em;
    font-size: 3em;
  }

  .copyright {
    padding-top: 2em;
    font-family: $sanserif;
  }
}
