$font-stack: Helvetica, sans-serif;
$primary-color: #a9b3cc;
$secondary-color: #567b96;
$header-bg: #1e2a4b;
$menu-a: #d0e4f2;
$menu-a-hover-tablet: #7aaacc;
$menu-bg: #151e36;
$logo-font: "Satisfy";
$sanserif: "Jost";
$serif: "Lora";

$bp-phone: 640px;
$bp-tablet: 768px;
$bp-tablet-ls: 1024px;
$bp-desktop: 1280px;

//header
.header {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $header-bg;
  border: 2px solid red;
  max-width: 1600px;

  @media (min-width: $bp-tablet) {
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
  }

  .header-title {
    text-align: center;

    @media (min-width: $bp-tablet) {
      padding: 0 2em;
      text-align: left;
    }

    .title {
      font-family: $logo-font;
      color: $secondary-color;
      font-weight: normal;
      font-size: 3em;
      margin-bottom: 0;

      @media (min-width: $bp-tablet) {
        margin-bottom: 0.25em;
        margin-left: 0.25em;
      }
    }
  }

  /* Button styling */

  .menu-icon {
    color: $secondary-color;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.75em;
    font-size: 1.5em;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }

  /* Button styling */
  .menu-toggle {
    display: inline-block;
    padding: 0.5em 0.25em;
    line-height: 1em;
    font-size: 1em;
    color: $primary-color;

    @media (min-width: $bp-tablet) {
      display: none;
      href: "";
    }
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    color: $secondary-color;
  }

  /*
   Default styles + Mobile first
   Offscreen menu style
  */
  .main-menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    height: 80%;
    margin-top: 3em;
    margin-bottom: 1em;
    overflow-y: visible;
    overflow-x: hidden;
    transition: left 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;

    @media (min-width: $bp-tablet) {
      display: flex;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      /* Hide shadow w/ -8px while 'closed' */
      -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
      width: 70%;
      height: 80%;
      background: $menu-bg;
      font-family: jost;
      border-radius: 7px;
      min-height: 250px;
      max-height: 350px;

      @media (min-width: $bp-tablet) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        background: inherit;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding: 1em;
        margin-right: 1em;
        min-height: 10vh;
        max-height: 10vh;
        width: 100%;
      }
    }

    .link:first-child {
      @media (min-width: $bp-tablet) {
        margin-top: 0;
      }
    }

    .link-active:first-child {
      @media (min-width: $bp-tablet) {
        margin-top: 0;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.1em 15px;
      line-height: 1em;
      font-size: 1em;
      color: $menu-a;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      background: $secondary-color;
      text-decoration: none;

      @media (min-width: $bp-tablet) {
        background: none;
        color: $menu-a-hover-tablet;
      }
    }

    .menu-close {
      position: absolute;
      top: -1vh;
      right: 15vw;
      color: $primary-color;
      margin-bottom: 1em;
      z-index: 1999;

      @media (min-width: $bp-tablet) {
        display: none;
        href: "";
      }

      .menu-x {
        z-index: 2000;
        font-size: 1.5em;
        color: $primary-color;

        @media (min-width: $bp-tablet) {
          display: none;
          href: "";
        }

        &:hover {
          color: $secondary-color;
        }
      }
      &:hover {
        background: $menu-bg;
      }
    }
  }
}

/*
   On small devices, allow it to toggle...
  */
/*
   :target for non-JavaScript
   [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
  */
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: flex;
  justify-content: center;
  text-align: center;
  left: 0;
  outline: none;

  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);

  @media (min-width: $bp-tablet) {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    justify-content: flex-end;
  }
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

.menu-toggle {
  display: inline-block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}
